.playlist {
    background-color: #232323;
    position: absolute;
    border-radius: 10px;
}

.playlist img {
    margin: 10px;
    max-height: 150px;
    max-width: 150px;
}

.playlist-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5px;
}

.pbutton {
    height: 30px;
    border-radius: 25px;
    width: 70%;
    background-color: #ffffff10;
    margin: 5px;
}

.delete {
    background-color: red;
}

.pbutton .btn {
    margin-top: 6px;
}


